---
layout: default
---

{{ content }}

{% if page.active %}
  {% assign provers = site.data.provers | where_exp: "prover","prover.active == true" %}
{% else %}
  {% assign provers = site.data.provers | where_exp: "prover","prover.active == false"  %}
{% endif %}

<!-- close the outer container and open a new one --></div><div class="container">

  <div class="row">
    {% for prover in provers %}
      <div class="col s4">
        <div class="card">
          <div class="card-content">
            <span class="card-title">{{ prover.name }}</span>
            <p>{{ prover.teaser }}</p>
	    <table>
	      {% if prover.authors %}
	      <tr><th>authors:</th><td>{{ prover.authors}}</td></tr>
	      {% endif %}
	    </table>
          </div>
          <div class="card-action">
            {% assign repos = prover.repos | split: ',' %}
            {% for r in repos %}
              <a href="{{ r | trim }}" role="button">Repository</a>
            {% endfor %}
            {% if prover.swmath %}
              <a href="{{ prover.swmath }}" role="button">swMATH</a>
            {% endif %}
          </div>
        </div>
      </div>

      <!-- start a new row every 3 provers -->
      {% assign count = forloop.index | modulo: 3 %}
      {% if count == 0 %}
        </div>      
        <div class="row">
      {% endif %}
    {% endfor %}
  </div>
