---
layout: default
---

<div class="jumbotron">
  <div class="container">
    {{ content }}
  </div>
</div>

{% if page.active %}
  {% assign provers = site.data.provers | where_exp: "prover","prover.active == true" %}
{% else %}
  {% assign provers = site.data.provers | where_exp: "prover","prover.active == false"  %}
{% endif %}

<div class="container">
  <div class="row">
  {% for prover in provers %}
        <div class="col-md-3">
          <h2>{{ prover.name }}</h2>
          <p>{{ prover.teaser }}</p>
           <div class="btn-group">
              {% if prover.repos %}
                <a class="btn btn-primary" href="{{ prover.repos }}" role="button" target="_blank">Repository</a>
              {% endif %}
              {% if prover.swmath %}
                <a class="btn btn-default" href="{{ prover.swmath }}" role="button"  target="_blank">swMATH</a>
              {% endif %}
            </div>
        </div>

        <!-- start a new row every 4 provers -->
        {% assign count = forloop.index | modulo: 4 %}
        {% if count == 0 %}
          </div>      
          <div class="row">
      {% endif %}
  {% endfor %}
  </div>
</div>
